 
 //the YLH list of theme style colors 
$headerBackgroundColor :  #90CC4A;  
$buttonBackgroundColor: #5677FC;
$blockBackgroundColor :#E3E2E2;  
$inputHintColor: #C3C3C3;

.container{
    margin: 0 5%;
}