 /**
主题色卡
The YLH list of theme style colors.
You may input all the variables of common global CSS here
which watch its out that do not effect to others page.
*/
 $headerBackgroundColor : #90CC4A;
 $buttonBackgroundColor: #50b4f9;
 $blockBackgroundColor :#E3E2E2;
 $inputHintColor: #C3C3C3;
 $headerTitleSpanColor: #666666;
 $headerBackgroundColor:#ebebeb;
 $lightGray:#333333;
 $aOrange:#ff9000;
 // for theme
 $themeBlue: #50b4f9;
 $themeGray: #999999;
 //Text indent
 //缩进
 $indentMargin: 6%;
 $titleFontColor: #484848;
 $grayFontColor:#e5e5e5;
 //font size;
 $normalFontSize: 1rem;
 $largeFontSize: 1.2rem;
 * {
     margin: 0;
     padding: 0;
 }

 ul {
     list-style: none;
 }

 a {
     text-decoration: white;
 }
html,body{
    font-size: 16px;
}
 .header1 {
     height: 50px;
     background-color: $themeBlue;
     text-align: center;
     color: white;
     font-size: $largeFontSize;
     span {
         font-size: $largeFontSize;
     }
     line-height: 3rem;
     >a {
         color: white;
         position: absolute;
         left: 10px;
         top: -3px;
         font-size: 2rem;
     }
 }

 @mixin defualtButton {
     height: 40px;
     background-color: $buttonBackgroundColor;
     width: 100%;
     color: white;
     border-radius: 6px;
     border: 0;
     &:focus {
         border: 0;
         outline: none;
     }
 }

 @mixin captcha {
     height: 30px;
     background-color: $buttonBackgroundColor;
     color: white;
     border-radius: 6px;
     border: 0;
     &:focus {
         border: 0;
         outline: none;
     }
 }

 .container {
     margin: 0 $indentMargin;
 }

 .pContainer {
     padding: 0 $indentMargin;
 }

 body {
     max-width: 768px;
     margin: 0 auto;
     position: relative;
 }

 .flex {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .column {
     flex-direction: column;
 }

 .container-fluied {
     width: 100%;
 }