
@import "common";
ul{ 
    height: calc(100% - 100px);
    overflow: auto;
    >li{
        padding:0 2%;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: white;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
    }
}