@import "common";

body{
    color: #F4F4F4;
}
.expertSearch{
    height: 100px;
    padding: 0 5% ;
    margin: {
        top: 20px;
        bottom: 20px;
    }
    input{
        box-sizing: border-box;
        width: 100%;
        border-radius: 20px;
        padding-left: 44px;
        height: 36px;
        background: {
            color: #E9E9E9;
        }
    }
    img{
        position: relative;
        top: -30px;
        left: 20px;
    }
}