$title: #484848;
$gray:#e5e5e5;
$theme:#50b4f9;
.container-fluied {
  width: 100%;
}
body{
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column {
  flex-direction: column;
}
.mainContent{
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto;
}
/**footer**/
footer {
  position: absolute;
  max-width: 768px;
  bottom: 0;
  left: 0;
  background-color: $gray;
  height: 50px;
  a{
    color: #676767;
  }
  .iconfont {
    font-size: 20px !important;
    color: #676767;
  }
  & .active {
    a{
      color: $theme;
    }
    .iconfont {
      color: $theme;

    }
  }
}

/**footer**/

/****header and slider***/
header {
  height: 50px;
  background-color: #50b4f9;
  color: #fff;
}

.swiper-container {
  height: 150px;
  .slide1 {
    background-color: red;
  }
  .slide2 {
    background: green;
  }
  .slide3 {
    background: orange;
  }
  .slide4 {
    background: pink;
  }
}

/****header and slider***/

.find-doc.justifyTwo{
  padding: 10px 0;
  >div{
    h2{
      color: #484848;
    }
    .doc-name{
      margin-bottom: 10px;
    }
    div.doc-Photo{
      width: 40px;
      background-color: lightpink;
      height: 40px;
      border-radius: 50%;
      position: static;
    }

  }
}

/**famous doc***/
.justifyTwo {
  flex-wrap: wrap;
  > div {
    position: relative;
    .doc-Dis{
      justify-content: space-between;
      align-items: flex-start;
    }
    .hospital{
      height: 33%;

    }
    .doc-Photo{
      position: absolute;
      top: -1em;
      right: 0;
    }
    margin: 2px 0;
    height: 80px;
    width: 45%;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
  }

}

/**famous doc***/

/***hot search**/
.hotSearch-con{
  padding: 6px 0;
  background-color: #ededed;
}
.hotSearch {
  padding: 10px 0;
  background-color: #fff;
  a {
    color: #2194ff;
    font-size: 12px;
  }
  dt{
    padding: 0  0 0 4px;
    border-left: 2px solid #ff7979;
  }
}

/***hot search**/
/****honer-top****/
.honer-top,.emergency-task-title {
  padding: 10px 10px;
  justify-content: space-between;
  background-color: #fff;
}

.honer-Doc {
  div {
    .doc-Photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #29bb9c;
    }
    .doc-Dis {
      width: 70%;
      height: 100%;
      justify-content:center;
      .doc-Detail{
        margin-top: 4px;
        width: 100%;
        max-height:3em;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
      }
    }
  }
}

/****honer-top****/
/****emergency task****/
.emergency-task-content{
  padding: 4px 2px;
  >div{
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 6px 10px;
    margin-top:4px;
    height: 80px;
    &:first-child{
      margin-top: 0;
    }
    .task-photo{
      max-width: 20%;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background-color: #29bb9c;
    }
    .task-item{
      width: 80%;
      height: 100%;
      >p{
        width: 100%;
        color: #9f9e9e;
        &:nth-child(1){
          color: $title;
        }

      }
    }
  }

}

/****emergency task****/

/******reset css*********/
@font-face {
  font-family: 'iconfont';  /* project id 682385 */
  src: url('//at.alicdn.com/t/font_682385_hwoyrhr8p7e.eot');
  src: url('//at.alicdn.com/t/font_682385_hwoyrhr8p7e.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_682385_hwoyrhr8p7e.woff') format('woff'),
  url('//at.alicdn.com/t/font_682385_hwoyrhr8p7e.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_682385_hwoyrhr8p7e.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-size: 12px;
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@for $i from 12 through 20 {
  .fs#{$i} {
    font-size: #{$i}px !important;
  }
}
.ellipsis{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}


/******reset css*********/