$title: #484848;
$gray:#e5e5e5;
$theme:#50b4f9;
$url:"../../images/index-icon/";
.tabIcon{
  img{
    width: 18px;
  }
}
.icon{
  &:before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 12px;
    margin-right:6px;
    position:relative;
    top:2px;
  }
}
.container-fluied {
  width: 100%;
}
body{
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column {
  flex-direction: column;
}
.mainContent{
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto;
}
/**footer**/
footer {
  position: absolute;
  max-width: 768px;
  bottom: 0;
  left: 0;
  background-color: $gray;
  height: 50px;
  a{
    color: #676767;
  }
  .tabIcon{
    margin-bottom: 2px;
    width: 18px;
    height: 18px;
  }
  >div{
    @each $i,$img in (1,"../../images/index-icon/home"),(2,"../../images/index-icon/task"),(3,"../../images/index-icon/doc"),(4,"../../images/index-icon/top"),(5,"../../images/index-icon/center"){
      &:nth-child(#{$i}){
        .tabIcon{
          background: url("#{$img}.png") no-repeat center center/100%;
        }
      }
      &:nth-child(#{$i}){
        &.active .tabIcon{
          background: url("#{$img}-active.png") no-repeat center center/100%;
        }
      }
    }
  }
  & .active{
    a{
      color: $theme;
    }
  }
}

/**footer**/

/****header and slider***/
header {
  height: 50px;
  background-color: #50b4f9;
  color: #fff;
  .logo{
    margin-right: 8px;
  }
}

.swiper-container {
  height: 150px;
}

/****header and slider***/

.find-doc.justifyTwo{
  padding: 10px 0;
  >div{
    &:nth-child(2) .doc-Photo{
      background:url("../../images/index-icon/矢量智能对象.png") no-repeat center center/100% 100%;

    }
    h2{
      color: #484848;
    }
    .doc-name{
      margin-bottom: 10px;
      color: $title;
    }
    .doc-Detail{
      color:#a7a7a7
    }
    div.doc-Photo{
      width: 40px;
      background:url($url + "矢量智能对象1.png") no-repeat center center/100% 100%;
      height: 40px;
      border-radius: 50%;
      position: static;
    }

  }
}

/**famous doc***/
.justifyTwo {
  flex-wrap: wrap;
  &.find-doc{
    >div{
      height: 80px;
      border: 1px solid $gray;
    }
  }
  > div {
    position: relative;
    .doc-Dis{
      justify-content: space-between;
      align-items: flex-start;
    }
    .hospital{
      height: 33%;

    }
    .doc-Photo{
      position: absolute;
      top:0;
      right: 0;
    }
    margin: 2px 0;
    height: 110px;
    width: 45%;
    border-radius: 5px;
  }

}

/**famous doc***/

/***hot search**/
.hotSearch-con{
  padding: 6px 0;
  background-color: #ededed;
}
.hotSearch {
  padding: 10px 0;
  background-color: #fff;
  a {
    color: #2194ff;
    font-size: 12px;
  }
  dt{
    padding: 0  0 0 4px;
    border-left: 2px solid #ff7979;
  }
}

/***hot search**/
/****honer-top****/
.honer-top,.emergency-task-title {
  padding: 10px 10px 0 10px;
  justify-content: space-between;
  background-color: #fff;
  color: $title;
  .icon{
    &:before{
      background: url("../../images/index-icon/crown.png") no-repeat center center/100% auto;
    }
  }
}

.honer-Doc {
  >div {
    padding-top: 32px;
    background: url("../../images/index-icon/椭圆1拷贝.png") no-repeat  left bottom;
    background-size: 100% 100% ;
    &:nth-child(1) .doc-Photo{
      background: url("../../images/index-icon/doc-1.png")no-repeat center center/100% 100%;
    }
    &:nth-child(2) .doc-Photo{
      background: url("../../images/index-icon/doc-2.png")no-repeat center center/100% 100%;
    }
    .doc-Photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .doc-Dis {
      padding-left:10px;
      width: 90%;
      height: 100%;
      justify-content:center;
      .doc-name{
        color: #6f5137;
      }
      .doc-Detail{
        color: #8d6f54 !important;
        margin: 7px 0 3px 0;
        width: 100%;
        max-height:3em;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
      }
      .hospital{
        color: #fff !important;
      }
    }
  }
}

/****honer-top****/
/****emergency task****/
.emergency-task-title{
  border-bottom: 1px solid $gray;
  .icon{
    &:before{
      background: url("../../images/index-icon/emergence.png") no-repeat center center/100% auto;
    }
  }
}
.emergency-task-content{
  padding: 4px 2px;
  >div{
    width: 100%;
    padding: 6px 10px;
    margin-top:4px;
    height: 80px;
    &:first-child{
      margin-top: 0;
    }
    .task-photo{
      max-width: 20%;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background-color: #29bb9c;
    }
    .task-item{
      width: 80%;
      height: 100%;
      >p{
        width: 100%;
        color: #9f9e9e;
        &:nth-child(1){
          color: $title;
        }

      }
    }
  }

}

/****emergency task****/

/******reset css*********/
@font-face {
  font-family: 'iconfont';  /* project id 682385 */
  src: url('//at.alicdn.com/t/font_682385_hwoyrhr8p7e.eot');
  src: url('//at.alicdn.com/t/font_682385_hwoyrhr8p7e.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_682385_hwoyrhr8p7e.woff') format('woff'),
  url('//at.alicdn.com/t/font_682385_hwoyrhr8p7e.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_682385_hwoyrhr8p7e.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-size: 12px;
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@for $i from 12 through 20 {
  .fs#{$i} {
    font-size: #{$i}px !important;
  }
}
.ellipsis{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;
}


/******reset css*********/