@import "common";


.regTitleRow{
    
    height:30px;
    background-color: $headerBackgroundColor;
    font-size: 0.725Rem;
    color: $headerTitleSpanColor;
    padding-left: 20px;
    line-height: 1.725rem;
}
.regInputRow{
    >div{
        height: 70px;
        border: 0;
        border-bottom: 1px solid #d3d3d3;
        
         >span{
            font-size: 1.1rem;     
            color:$lightGray;
            position: relative;
            top: 1.5rem;
            left: 1rem;
            display: inline-block;
            width: 90px;
            >input{
                font-size: 1.0rem;    
                position: relative; 
                //  width: 100% - $indentMargin * 2 - 4%;
                 height: 30px;
                 border: 0;             
                 &:focus{
                     outline: none;
                 }
                }
         }
         
         
    }
}


.regButtonWrap{
    text-align: center;
}
.regButton{
    @include defualtButton;
    width: 90%;
    margin-top: 50px;
    // margin: 0 8%;
}