@import "common";
html,body{
    height: 100%;
    overflow: hidden;
}
*{
    box-sizing: border-box;
}
.task_details{
    border: 1px solid transparent;
    color: #2e2e2e;
    font-size: 1rem;
    height: calc(100% - 50px);
    background-color: $headerBackgroundColor;
    .task_title{
        margin: 10px 0;
        height: 40%;
        background-color: #fff;
        li{
            height: 25%;
            border-bottom: 1px solid #ccc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 $indentMargin;
            .normal{
                color: #50b4f9;
            }
           .doubleBorder {
                padding: 1px;
                border: 1px solid #405ba3;
            }
            .no_accept{
                color: #405ba3;
                border: 1px solid #405ba3;
                padding: 2px 4px;
            }
        }
    }
    .task_content{
        max-height: 50%;
        overflow: auto;
        background-color: #fff;
        padding: 0 $indentMargin;
        .discription{
            text-indent: 2em;
            margin: 10px 0 ;
        }
        .photo{
            height:70px;
            width: 70px;
            padding-bottom:10px;
            position: relative;
            background: url(../../images/img1.jpg) no-repeat left top/cover;
        }
    }
}