@charset "UTF-8";
/**
主题色卡
The YLH list of theme style colors.
You may input all the variables of common global CSS here
which watch its out that do not effect to others page.
*/
* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: white; }

.header1 {
  height: 50px;
  background-color: #50b4f9;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  line-height: 3rem; }
  .header1 > a {
    position: absolute;
    left: 10px;
    top: -3px;
    font-size: 2rem; }

.container {
  margin: 0 6%; }

.pContainer {
  padding: 0 6%; }

.loginHeader {
  height: 130px;
  background-image: url("../../images/login_banner.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 40%;
  background-position-y: 56%; }

.inputArea > div {
  height: 50px; }
  .inputArea > div > span {
    position: relative;
    top: 1.5rem;
    left: 1rem; }
    .inputArea > div > span > img {
      width: 8%; }
  .inputArea > div > input {
    width: 84%;
    height: 30px;
    border: 0;
    font-size: 1rem;
    padding-left: 60px;
    border-bottom: 1px solid #999999; }
    .inputArea > div > input:focus {
      outline: none; }

.inputArea > div:nth-child(3) > button {
  height: 40px;
  background-color: #50b4f9;
  width: 100%;
  color: white;
  border-radius: 6px;
  border: 0;
  margin-top: 50px; }
  .inputArea > div:nth-child(3) > button:focus {
    border: 0;
    outline: none; }

.inputArea > nav {
  font-size: 1rem;
  color: #999999;
  margin-top: 60px; }
  .inputArea > nav > a:nth-child(2) {
    color: #ff9000;
    float: right; }

.loginFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #8f8f8f;
  width: 100%;
  text-align: center;
  height: 80px;
  font-size: 1rem; }
