@charset "UTF-8";
/**
主题色卡
The YLH list of theme style colors.
You may input all the variables of common global CSS here
which watch its out that do not effect to others page.
*/
* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: white; }

html, body {
  font-size: 16px; }

.header1 {
  height: 50px;
  background-color: #50b4f9;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  line-height: 3rem; }
  .header1 span {
    font-size: 1.2rem; }
  .header1 > a {
    color: white;
    position: absolute;
    left: 10px;
    top: -3px;
    font-size: 2rem; }

.container {
  margin: 0 6%; }

.pContainer {
  padding: 0 6%; }

body {
  max-width: 768px;
  margin: 0 auto;
  position: relative; }

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.column {
  flex-direction: column; }

.container-fluied {
  width: 100%; }

/**
主题色卡
The YLH list of theme style colors.
You may input all the variables of common global CSS here
which watch its out that do not effect to others page.
*/
* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: white; }

html, body {
  font-size: 16px; }

.header1 {
  height: 50px;
  background-color: #50b4f9;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  line-height: 3rem; }
  .header1 span {
    font-size: 1.2rem; }
  .header1 > a {
    color: white;
    position: absolute;
    left: 10px;
    top: -3px;
    font-size: 2rem; }

.container {
  margin: 0 6%; }

.pContainer {
  padding: 0 6%; }

body {
  max-width: 768px;
  margin: 0 auto;
  position: relative; }

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.column {
  flex-direction: column; }

.container-fluied {
  width: 100%; }

.regTitleRow {
  height: 30px;
  background-color: #ebebeb;
  font-size: 0.725Rem;
  color: #666666;
  padding-left: 20px;
  line-height: 1.725rem; }

.regInputRow > div {
  height: 70px;
  border: 0;
  border-bottom: 1px solid #d3d3d3; }
  .regInputRow > div > span {
    font-size: 1.1rem;
    color: #333333;
    position: relative;
    top: 1.5rem;
    left: 1rem;
    display: inline-block;
    width: 90px; }
    .regInputRow > div > span > input {
      font-size: 1.0rem;
      position: relative;
      height: 30px;
      border: 0; }
      .regInputRow > div > span > input:focus {
        outline: none; }

.regButtonWrap {
  text-align: center; }

.regButton {
  height: 40px;
  background-color: #50b4f9;
  width: 100%;
  color: white;
  border-radius: 6px;
  border: 0;
  width: 90%;
  margin-top: 50px; }
  .regButton:focus {
    border: 0;
    outline: none; }
