@charset "UTF-8";
/**
主题色卡
The YLH list of theme style colors.
You may input all the variables of common global CSS here
which watch its out that do not effect to others page.
*/
* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: white; }

html, body {
  font-size: 16px; }

.header1 {
  height: 50px;
  background-color: #50b4f9;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  line-height: 3rem; }
  .header1 span {
    font-size: 1.2rem; }
  .header1 > a {
    color: white;
    position: absolute;
    left: 10px;
    top: -3px;
    font-size: 2rem; }

.container {
  margin: 0 6%; }

.pContainer {
  padding: 0 6%; }

body {
  max-width: 768px;
  margin: 0 auto;
  position: relative; }

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.column {
  flex-direction: column; }

.container-fluied {
  width: 100%; }

.tabIcon img {
  width: 18px; }

.icon:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 14px;
  margin-right: 6px;
  position: relative;
  top: 2px; }

.container-fluied {
  width: 100%; }

body {
  max-width: 768px;
  margin: 0 auto;
  position: relative; }

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.column {
  flex-direction: column; }

.mainContent {
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto; }

/**footer**/
footer {
  position: absolute;
  max-width: 768px;
  bottom: 0;
  left: 0;
  background-color: #e5e5e5;
  height: 50px; }
  footer a {
    color: #676767; }
  footer .tabIcon {
    margin-bottom: 2px;
    width: 18px;
    height: 20px; }
  footer > div:nth-child(1) .tabIcon {
    background: url("../../images/index-icon/home.png") no-repeat center center/100%; }
  footer > div:nth-child(1).active .tabIcon {
    background: url("../../images/index-icon/home-active.png") no-repeat center center/100%; }
  footer > div:nth-child(2) .tabIcon {
    background: url("../../images/index-icon/task.png") no-repeat center center/100%; }
  footer > div:nth-child(2).active .tabIcon {
    background: url("../../images/index-icon/task-active.png") no-repeat center center/100%; }
  footer > div:nth-child(3) .tabIcon {
    background: url("../../images/index-icon/doc.png") no-repeat center center/100%; }
  footer > div:nth-child(3).active .tabIcon {
    background: url("../../images/index-icon/doc-active.png") no-repeat center center/100%; }
  footer > div:nth-child(4) .tabIcon {
    background: url("../../images/index-icon/top.png") no-repeat center center/100%; }
  footer > div:nth-child(4).active .tabIcon {
    background: url("../../images/index-icon/top-active.png") no-repeat center center/100%; }
  footer > div:nth-child(5) .tabIcon {
    background: url("../../images/index-icon/center.png") no-repeat center center/100%; }
  footer > div:nth-child(5).active .tabIcon {
    background: url("../../images/index-icon/center-active.png") no-repeat center center/100%; }
  footer .active a {
    color: #50b4f9; }

/**footer**/
/****header and slider***/
header {
  height: 50px;
  background-color: #50b4f9;
  color: #fff; }
  header .logo {
    margin-right: 8px; }

.swiper-container {
  height: 150px; }

/****header and slider***/
.find-doc.justifyTwo {
  padding: 10px 0; }
  .find-doc.justifyTwo > div:nth-child(2) .doc-Photo {
    background: url("../../images/index-icon/矢量智能对象.png") no-repeat center center/100% 100%; }
  .find-doc.justifyTwo > div h2 {
    color: #484848; }
  .find-doc.justifyTwo > div .doc-name {
    margin-bottom: 10px;
    color: #484848; }
  .find-doc.justifyTwo > div .doc-Detail {
    color: #a7a7a7; }
  .find-doc.justifyTwo > div div.doc-Photo {
    width: 40px;
    background: url("../../images/index-icon/矢量智能对象1.png") no-repeat center center/100% 100%;
    height: 40px;
    border-radius: 50%;
    position: static; }

/**famous doc***/
.justifyTwo {
  flex-wrap: wrap; }
  .justifyTwo.find-doc > div {
    height: 80px;
    border: 1px solid #e5e5e5; }
  .justifyTwo > div {
    position: relative;
    margin: 2px 0;
    height: 110px;
    width: 45%;
    border-radius: 5px; }
    .justifyTwo > div .doc-Dis {
      justify-content: space-between;
      align-items: flex-start; }
    .justifyTwo > div .hospital {
      height: 33%; }
    .justifyTwo > div .doc-Photo {
      position: absolute;
      top: 0;
      right: 0; }

/**famous doc***/
/***hot search**/
.hotSearch-con {
  padding: 6px 0;
  background-color: #ededed; }

.hotSearch {
  padding: 10px 0;
  background-color: #fff; }
  .hotSearch a {
    color: #2194ff;
    font-size: 12px; }
  .hotSearch dt {
    padding: 0  0 0 4px;
    border-left: 2px solid #ff7979; }

/***hot search**/
/****honer-top****/
.honer-top, .emergency-task-title {
  padding: 10px 10px 0 10px;
  justify-content: space-between;
  background-color: #fff;
  color: #484848; }
  .honer-top .icon:before, .emergency-task-title .icon:before {
    background: url("../../images/index-icon/crown.png") no-repeat center center/100% auto; }

.honer-Doc > div {
  padding-top: 32px;
  background: url("../../images/index-icon/椭圆1拷贝.png") no-repeat left bottom;
  background-size: 100% 100%; }
  .honer-Doc > div:nth-child(1) .doc-Photo {
    background: url("../../images/index-icon/doc-1.png") no-repeat center center/100% 100%; }
  .honer-Doc > div:nth-child(2) .doc-Photo {
    background: url("../../images/index-icon/doc-2.png") no-repeat center center/100% 100%; }
  .honer-Doc > div .doc-Photo {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .honer-Doc > div .doc-Dis {
    padding-left: 10px;
    width: 90%;
    height: 100%;
    justify-content: center; }
    .honer-Doc > div .doc-Dis .doc-name {
      color: #6f5137; }
    .honer-Doc > div .doc-Dis .doc-Detail {
      color: #8d6f54 !important;
      margin: 7px 0 3px 0;
      width: 100%;
      max-height: 3em;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all; }
    .honer-Doc > div .doc-Dis .hospital {
      color: #fff !important; }

/****honer-top****/
/****emergency task****/
.emergency-task-title {
  border-bottom: 1px solid #e5e5e5; }
  .emergency-task-title .icon:before {
    background: url("../../images/index-icon/emergence.png") no-repeat center center/100% auto; }

.emergency-task-content {
  padding: 4px 2px; }
  .emergency-task-content > div {
    width: 100%;
    padding: 6px 10px;
    margin-top: 4px;
    height: 80px; }
    .emergency-task-content > div:first-child {
      margin-top: 0; }
    .emergency-task-content > div .task-photo {
      max-width: 20%;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background-color: #29bb9c; }
    .emergency-task-content > div .task-item {
      width: 80%;
      height: 100%; }
      .emergency-task-content > div .task-item > p {
        width: 100%;
        color: #9f9e9e; }
        .emergency-task-content > div .task-item > p:nth-child(1) {
          color: #484848; }

/****emergency task****/
/******reset css*********/
@font-face {
  font-family: 'iconfont';
  /* project id 682385 */
  src: url("//at.alicdn.com/t/font_682385_hwoyrhr8p7e.eot");
  src: url("//at.alicdn.com/t/font_682385_hwoyrhr8p7e.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_682385_hwoyrhr8p7e.woff") format("woff"), url("//at.alicdn.com/t/font_682385_hwoyrhr8p7e.ttf") format("truetype"), url("//at.alicdn.com/t/font_682385_hwoyrhr8p7e.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-size: 12px; }

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none; }

.fs12 {
  font-size: 12px !important; }

.fs13 {
  font-size: 13px !important; }

.fs14 {
  font-size: 14px !important; }

.fs15 {
  font-size: 15px !important; }

.fs16 {
  font-size: 16px !important; }

.fs17 {
  font-size: 17px !important; }

.fs18 {
  font-size: 18px !important; }

.fs19 {
  font-size: 19px !important; }

.fs20 {
  font-size: 20px !important; }

.ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap; }

/******reset css*********/
* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden; }

.container-fluied.personal_center {
  height: calc(100% - 100px); }
  .container-fluied.personal_center .personal_photo {
    justify-content: center;
    height: 30%;
    background: linear-gradient(to bottom, #6e87d6, #50c7ee); }
    .container-fluied.personal_center .personal_photo span {
      color: #fff;
      font-size: 1rem; }
    .container-fluied.personal_center .personal_photo .profile_photo {
      margin-bottom: 10px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 1px solid #4088b7;
      background: url("../../images/personal_center/profile_photo.png") no-repeat center/100%; }
  .container-fluied.personal_center .task {
    height: 71%;
    background-color: #ebebeb; }
    .container-fluied.personal_center .task > div {
      background-color: #fff; }
      .container-fluied.personal_center .task > div:nth-child(1) {
        height: 25%;
        margin-bottom: 10px; }
        .container-fluied.personal_center .task > div:nth-child(1) > div:nth-child(1) i {
          background: url(../../images/personal_center/my_task.png) no-repeat center/100%; }
        .container-fluied.personal_center .task > div:nth-child(1) > div:nth-child(2) i {
          background: url(../../images/personal_center/my_count.png) no-repeat center/100%; }
        .container-fluied.personal_center .task > div:nth-child(1) > div:nth-child(3) i {
          background: url(../../images/personal_center/msg.png) no-repeat center/100%; }
        .container-fluied.personal_center .task > div:nth-child(1) > div:nth-child(4) i {
          background: url(../../images/personal_center/manage_count.png) no-repeat center/100%; }
      .container-fluied.personal_center .task > div:nth-child(2) {
        justify-content: flex-start;
        flex-wrap: wrap;
        height: 50%; }
        .container-fluied.personal_center .task > div:nth-child(2) > div:nth-child(1) i {
          background: url(../../images/personal_center/task_list.png) no-repeat center/100%; }
        .container-fluied.personal_center .task > div:nth-child(2) > div:nth-child(2) i {
          background: url(../../images/personal_center/count.png) no-repeat center/100%; }
        .container-fluied.personal_center .task > div:nth-child(2) > div:nth-child(3) i {
          background: url(../../images/personal_center/manage_doc.png) no-repeat center/100%; }
        .container-fluied.personal_center .task > div:nth-child(2) > div:nth-child(4) i {
          background: url(../../images/personal_center/manage_hosipital.png) no-repeat center/100%; }
        .container-fluied.personal_center .task > div:nth-child(2) > div:nth-child(5) i {
          background: url(../../images/personal_center/department.png) no-repeat center/100%; }
        .container-fluied.personal_center .task > div:nth-child(2) > div:nth-child(6) i {
          background: url(../../images/personal_center/usage.png) no-repeat center/100%; }
      .container-fluied.personal_center .task > div > div {
        width: 25%; }
        .container-fluied.personal_center .task > div > div > span {
          margin-top: 10px;
          color: #484848; }
    .container-fluied.personal_center .task i {
      width: 30px;
      height: 30px;
      display: block; }
